@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@*<p>@Html.ActionLink("Logout", "Logout", "Home")</p>*@


@if (Session["tipoLogado1"] != null)
{
    <b>@Html.ActionLink("Usuario 01", "Usuarios", "Home")</b>
}

@if (Session["tipoLogado2"] != null)
{
    <i>@Html.ActionLink("Usuario 02", "Usuarios", "Home")</i>
}